@{
    ViewBag.Title = "درباره ما";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    .bg-1 {
        background-color:cadetblue;
        color: #ffffff;
    }

    .bg-2 {
        background-color: sandybrown;
        color: #ffffff;
    }


    .bg-3 {
        background-color: #fff; /* White */
        color: #555555;
    }
</style>


<div class="container-fluid bg-2 text-center">
    <h3>شرکت دیجی مووی</h3>
    <p>یک شرکت سهامی خاص است با بیش از 4 سال سابقه در عرضه به روز ترین تولیدات رسانه ای داخلی با پرسنل خبره </p>
</div>

