@{
    ViewBag.Title = "تماس با ما";
}


<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid " dir="rtl">
    <h2 class="text-center">ارتباط با ما</h2><br /><br />
    <div class="row">
   
        <div class="col-sm-7 slideanim" dir="rtl" >
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="ایمیل" type="email" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="نام و نام خانوادگی" type="text" required>
                   
                </div>
            </div>
    
                <textarea class="form-control" id="comments" name="comments" placeholder="پیام" rows="5"></textarea><br>
       
                
                <div class="row"> 
                    <div class="col-sm-12 form-group">
                        <input type="submit" class="btn btn-info" value="ارسال">
                    </div>
                </div>
            </div>
        <div class="col-sm-5" dir="rtl">
            <p>در24 ساعت آینده پاسخ گوی شما خواهیم بود.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span>ایران ,تهران</p>
            <p><span class="glyphicon glyphicon-phone" dir="ltr"></span>  9102002118</p>
            <p><span class="glyphicon glyphicon-envelope"></span> ahdiyehrahimi@gmail.com</p>
        </div>

    </div>
</div>

<!-- Add Google Maps -->
<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d4581.075725674579!2d51.4978155501867!3d35.7186009277707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e2!4m3!3m2!1d35.7181882!2d51.4989535!4m3!3m2!1d35.7181657!2d51.4989935!5e0!3m2!1sen!2sir!4v1502174548574" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


<div class="jumbotron text-center">
    <h1> دیجی مووی</h1>
    <p>فروش پایان راه نیست آغاز یک تعهد است.</p>
    <h6>کلیه حقوق محفوظ است© 2001 -2015 -DigiMovi.Com  </h6>
</div>

